<div class="container-fluid">
    <div class="row">
        <%= link_to admin_users_path, class: "col-md-4 p-5" do %>
        <div class="card p-3">
            <p class="text-muted">ユーザー管理 <%= icon('fas','user')%></p>
        </div>
        <% end %>

        <div class="col-md-4 p-5">
            <div class="card p-3">
                <p class="text-muted">投稿一覧 <%= icon('fas','book-open')%></p>
            </div>
        </div>
        <div class="col-md-4 p-5">
            <div class="card p-3">
                <p class="text-muted">アクセス数 <%= icon('fas','project-diagram')%></p>
            </div>
        </div>
    </div>

</div>