<% breadcrumb :admin_users %>

<div class="container-fluid">
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">名前</th>
                <th scope="col">メールアドレス</th>
                <th>最後のログイン</th>
                <th>メンター登録</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.last_login_date || "ログイン履歴無し" %></td>
                <td><%= user.mentar ? "●" : "×" %></td>
                <td>
                    <%= link_to admin_user_path(user), class: "btn btn-sm btn-secondary" do %>
                    詳細
                    <% end %>
                </td>
                <td>
                    <% if user.active? %>
                    <%= render "/admin/users/freezes/freeze_button.html.erb", user: user %>
                    <% elsif user.stop? %>
                    <%= render "/admin/users/freezes/restart_button.html.erb", user: user %>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>