<% breadcrumb :admin_users_show %>

<div class="container">
    <div class="card p-5">
        <div class="d-flex justify-content-center aligh-items-center mb-3">
            <%= image_tag @user.image %>
        </div>
        <div class="border-bottom row mb-5">
            <p class="col-md-3">ユーザー名: </p>
            <p class="col-md-9"><%= @user.name %></p>
        </div>
        <div class="border-bottom row mb-5">
            <p class="col-md-3">メールアドレス: </p>
            <p class="col-md-9"><%= @user.email %></p>
        </div>
        <div class="border-bottom row mb-5">
            <p class="col-md-3">自己紹介文: </p>
            <p class="col-md-9"><%= @user.description %></p>
        </div>
        <div class="border-bottom row mb-5">
            <p class="col-md-3">最終ログイン日時</p>
            <p class="col-md-9"><%= @user.last_login_date || "ログイン履歴無し" %></p>
        </div>
        <div class="m-3 d-flex justify-content-around">
            <%= link_to admin_user_user_logs_path(@user), class: "card p-3 d-flex flex-column justify-content-center align-items-center" do %>
            <p>ログイン履歴詳細</p>
            <i class="fas fa-door-open fa-4x"></i>
            <% end %>
            <div class="card p-3 d-flex flex-column justify-content-center align-items-center">
                <p>投稿記事一覧</p>
                <i class="fas fa-mail-bulk fa-4x"></i>
            </div>
            <div class="card p-3 d-flex flex-column justify-content-center align-items-center">
                <p>投稿コメント一覧</p>
                <i class="fas fa-comments fa-4x"></i>
            </div>
        </div>
    </div>
</div>