<!DOCTYPE html>
<html>

<head>
    <title>MentaServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
    <%= render "layouts/header" %>
    <%= render "layouts/breadcrumbs" %>
    <%= yield %>
</body>

</html>